@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFFFFF;
}

.custom-btn-transition{
    transition: background-color 0.2s ease;
}

.custom-menu-transition{
    position: fixed;
    right: -90vw;
    transition: posiiton 0.2s linear;
    animation: slidein 0.3s forwards;
}

@keyframes slidein {
    from{
        right: -90vw;
    }
    to{
        right: 0vw;
    }
}
