@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

.custom-btn-transition {
  transition: background-color 0.2s ease;
}

.custom-menu-transition {
  position: fixed;
  right: -90vw;
  transition: right 0.5s ease-in-out;
}

.custom-menu-pos {
  position: fixed;
  right: 0vw;
}
